/* font-size */
.zjzhs-tree-modal .modal-dialog {
  width: 1000px;
}
.zjzhs-tree-modal .modal-dialog .modal-content {
  width: 1000px;
  height: 730px;
  border-radius: 0px;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-header .close .modal-header-span {
  font-size: 40px;
  margin-right: 8px;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 15px;
  font-weight: bold;
  margin-left: 8px;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-body {
  padding: 10px 20px;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-body .operation-constainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-body .operation-constainer .mat-tabs-header {
  width: 100%;
  border-bottom: none;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-body .operation-constainer .head-info {
  display: flex;
  align-items: center;
  float: right;
  cursor: default;
}
.zjzhs-tree-modal .modal-dialog .modal-content .modal-body .operation-constainer .head-info .total-info {
  margin-right: 30px;
  font-size: 12px;
}
