/* font-size */
.blue-theme .pagination-container .pagination .is-primary {
  background-color: #418bca;
  border-color: #418bca;
}
.blue-theme .pagination-container .pagination > li > a {
  color: #418bca;
  cursor: pointer;
}
.blue-theme .pagination-container .pagination .form-control {
  color: #418bca;
}
