.money-contianer {
  width: 290px;
  height: 40px;
  display: flex;
  align-items: center;
  float: left;
}
.money-contianer input {
  width: 88px;
  color: #575a64;
  box-shadow: 0 -1px 0 0 #999999 inset;
  outline: none;
  text-align: center;
}
.money-contianer .filter-label {
  width: 90px;
  font-weight: 700;
  text-align: right;
}
